.locationNavbarContainer {
    border-bottom: 1px solid black;
    background-color: #272A33;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.Links {
    color: white;
    text-decoration: none;
}

.locationNavbarContainer .active {
    color: #82F0F2;
}

.Links:hover:not(.active) {
    color: #FDBD59;
    cursor: pointer;
}