.hotSpotContainer {
    display: flex;
    flex-direction: row;
    background-color: #3b3c41;
    color: white;
    height: 57vh;
    justify-content: space-evenly;
    align-items: center;
}

.mapTitle{
    display: flex;
    /* flex-shrink: inherit;
    needs to be able to shrink when the aspect ratio is changed */
}

.hotSpotForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.formWithSelect {
    display: flex;
    flex-direction: column;
    height: 75%;
}

.disappear {
    animation-name: hide;
    animation-duration: 12s;
}

.selected {
    height: 50%;
}

.selected img {
    width: 25%;
}

@keyframes hide {
    from { opacity: 1; }
    to { opacity: 0; }
  }