.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 60vh; 
    margin: auto;
}

.loginContainer h1 {
    margin-bottom: 25px;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
}

.loginContainer button {
    width: 50%;
    align-self: center;
}