.circleDivP2 {
	display: flex;
	flex-direction: row;
}

.circle1P2 {
	width: 1rem;
  height: 1rem;
  margin: 1rem;
	background: transparent;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 50%;
  border: 3px solid #e45f00;
}

.circle2P2 {
	width: 1rem;
	height: 1rem;
  background: #e45f00;
  margin: 1rem;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 50%;
  border: 3px solid #e45f00;
}
