.dt-requests {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #272A33;
    padding: 1em;
    background-color: #f3f3f3;
    align-items: center;
}

.requestCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 10px 20px;
    border-radius: 1.5em;
    background-color: white;
    margin: 25px 0;
}

.rc-info {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    font-size: 1.5em;
}

.rc-info a {
    color: #e45f00;
    text-decoration: none;
    font-weight: bold;
}

.rc-info img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 7em;
}

.rc-buttons {
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 40%;
    justify-content: space-evenly;
}

.rc-buttons button {
    width: 40%;
}