.detailedTripContainer {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 30px;
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
    font-size: 18px;
}

.detailedTripContainer p {
    font-weight: 500;
}

.detailedTripContainer p > span {
    font-weight: 800;
    color: #0065a3;
}

.detailedTripContainer aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    font-size: 1.2em;
    grid-column: 1 / 2;
    border-right: 2px solid black;
    height: 100vh;
    position: fixed;
    padding: 2em 0;
    padding-bottom: 5em;
}

.dt-user {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    justify-content: space-evenly;
    text-align: center;
}

.dt-user img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 7em;
    margin-bottom: 20px;
}

.dt-user a {
    color: #e45f00;
    text-decoration: none;
    align-self: center;
}

.dt-user a:hover {
    cursor: pointer;
}

.dt-socialMedia {
    display: flex;
    width: 100%;
}

.dt-socialMedia img {
    width: 39px;
    height: 39px;
    margin: 22.5px;
    border-radius: 0;
}

.dt-userInfo {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-evenly;
    height: 50%;
}

.dt-userInfo p {
    margin: 0.35em 0;
}

.dt-userInfo p:first-of-type {
    margin-top: 0;
}

.dt-userInfo p:last-of-type {
    margin-bottom: 0;
}

.detailedTripContainer > a {
    height: fit-content;
}

.dt-coverImg {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.detailedTripContainer > main {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}