.dt-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    border-left: 2px solid #272A33;
    border-right: 2px solid #272A33;
    font-size: 1.2em;
}

.dt-nav a {
    color: #272A33;
    font-weight: bolder;
    text-decoration: none;
}

.dt-nav a:hover:not(.active){
    color: rgb(255, 157, 0);
}

.dt-nav .active {
    color: #0062e2;
}