.dt-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.25em;
}

.dt-nav a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 0.75em;
    width: fit-content;
}

.dt-nav a:hover:not(.active){
    background-color: #d4D4d4;
    color: #0091ea;
}

.dt-nav .active {
    color: black;
    text-decoration: underline;
}