.footer {
    display: flex;
    flex-flow: row;
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: #F3F3F3;
    box-shadow: 8px 4px 8px 8px rgba(0,0,0,0.2);
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  .shareSocial {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: auto;
  }
  
  .footerLinks {
    color: black;
  }

  .footerLinks:hover {
    cursor: pointer;
    color: #E55F00;
  }

  .copyrightLine {
      color: #E55F00;
      font-size: .75em;
      text-shadow: none;
      margin-top: 1.5em;
  }