.lp-why-container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    background-color: #f3f3f3;
}

.lp-why {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

/* .lp-why h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Prompt';
    background: linear-gradient(
        to top,
        #6334ff,
        #0099ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
} */

.lp-why h1 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Prompt';
    font-weight: 900;
    color: #394dc2;
    letter-spacing: 2px;
}

.lp-why section {
    width: 80%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lp-why img {
    width: 40%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.lp-why article {
    width: 40%;
}

.lp-why p {
    font-size: 1.25em;
    text-align: left;
    color: black;
    font-weight: 500;
}