.landingPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lp-top {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lp-top h2 {
    font-size: 2em;
    font-family: 'Roboto';
}

.lp-buttons {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lp-buttons button {
    padding: 1em .5em;
    width: 25%;
    border-radius: 2em;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 1.25em;
}

.lp-buttons :first-child {
    background-color: rgb(255, 157, 0);
    border: 2px solid #272A33;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.lp-buttons :first-child:hover {
    background-color: #272A33;
    border-color: rgb(255, 157, 0);
    color: white;
    cursor: pointer;
}

.lp-buttons :last-child {
    background-color: #272A33;
    color: white;
    border: 2px solid rgb(255, 157, 0);
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.lp-buttons :last-child:hover {
    background-color: rgb(255, 157, 0);
    border-color: #272A33;
    cursor: pointer;
    color: black;
}

.lp-middle {
    width: 100%;
    height: 100vh;
    background-color: #9bb9ff;
}

.lp-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    padding: 4em 0;
    font-size: 1em;
}

.lp-icons article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9fbcff;
    padding: 3em 1.5em;
    width: 250px;
    height: 250px;
    justify-content: center;
    border-radius: 1.5em;
    transition: 0.3s ease-in-out;
}

.lp-icons article:hover {
    background-color: #82a7ff;
    cursor: pointer;
}

.lp-bottom {
    height: 100vh;
}