.landingPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lp-top {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lp-top h2 {
    font-size: 2em;
    font-family: 'Roboto';
}

.lp-buttons {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3.5em;
}

.lp-buttons button {
    padding: .5em;
    width: 25%;
    border-radius: 1.5em;
}

.lp-middle {
    width: 100%;
    height: 100vh;
    background-color: #9bb9ff;
}

.lp-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    padding: 4em 0;
    font-size: 1em;
}

.lp-icons article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9fbcff;
    padding: 3em 1.5em;
    width: 250px;
    height: 250px;
    justify-content: center;
    border-radius: 1.5em;
    transition: 0.3s ease-in-out;
}

.lp-icons article:hover {
    background-color: #82a7ff;
    cursor: pointer;
}

.lp-bottom {
    height: 100vh;
}