.lp-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 157, 0);
    padding: 1em 0.75em;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 2;
}

.lp-navLeft {
    display: flex;
    align-items: center;
}

.lp-nav h1 {
    font-size: 3em;
    font-family: 'Prompt';
}

.lp-nav h1:hover {
    cursor: pointer;
}

.lp-navLeft a {
    color: rgb(255, 157, 0);
    text-decoration: none;
}

.lp-navRight {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-size: 1.5em;
}

.lp-navRight a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
}

.lp-navRight a:hover:not(.active) {
    color: rgb(255, 157, 0);
}

.lp-nav .active {
    color: #6433FF;
}