.lp-latestTrips {
    width: 100%;
}

.lp-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.lp-carouselBtn {
    width: fit-content;
}

.lp-latestTrips .tripCard {
    width: 80%;
}

.lp-latestTrips .tripCardButtons {
    width: 60%;
}

.lp-latestTrips .tripCard button {
    padding: 0.5em 0.5em;
    border-radius: 1.5em;
    width: 25%;
    font-size: 1.25em;
}