.lp-about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 6em;
}

.lp-about::before {
    content: "";
    background-image: url(../../images/landingPageBground2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.25;
    z-index: -1;
}

.lp-about h1 {
    font-size: 2em;
    font-family: 'Prompt';
    background: linear-gradient(
        to top,
        #6334ff,
        #0099ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}