.locationInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locationInfoScroll{
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    min-width: 100%;
}

.locationInfoCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em;
    border-radius: 5px;
    opacity: .9;
    cursor: default;
    margin: 1em;
}

.locationInfoCardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em;
    border-radius: 5px;
    opacity: .9;
    cursor: default;
    margin-bottom: 1em;
}

.weatherForecast {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.locationTitle {
    color: #E55F00;
    font-weight: bold;
}

.locationTravelAd {
    display: flex;
    flex-direction: row;
}

.linkAdv {
    text-decoration-line: underline;
    color: blue;
}

.linkAdv:hover {
    color: darkblue;
    cursor: pointer;
}

.locationTravelAdNotice {
    color: rgb(88, 88, 88);
    font-size: small;
}