.locationNavbarContainer {
    border-bottom: 1px solid #272A33;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.Links {
    color: #272A33;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
}

.locationNavbarContainer .active {
    color: #0062e2;
}

.Links:hover:not(.active) {
    color: #FF9506;
    cursor: pointer;
}