.up-about {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    width: 100%;
    align-items: center;
    grid-column: 2 / 3;
    justify-items: center;
    min-height: 60vh;
    font-size: 20px;
}

.up-bio {
    width: 60%;
    align-self: end;
}

.up-aboutList {
    width: 60%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    margin: auto;
}

.up-about span:not(.MuiButton-label) {
    font-weight: 800;
    color: #0065a3;
}