.chatTextBoxContainer {
    position: absolute;
    bottom: 1%;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    margin-left: 2em;
  }

  .chatTextBox {
    width: 65%;
    margin-left: 2em;
  }

  .sendButton {
    color: #30A1FF;
    cursor: pointer
  }

  .sendButton:hover {
      color: #354296
  }