.mainNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FF9E00;
    padding: 1em 0.75em;
    background-color: #272A33;
    position: fixed;
    top: 0;
    z-index: 2;
}

.mainNav {
    display: flex;
    align-items: center;
}

.mainNav h1 {
    font-size: 3em;
    font-family: 'Prompt';
}

.mainNav h1:hover {
    cursor: pointer;
}

.mainNav-left a {
    color: #FF9E00;
    text-decoration: none;
}

.mainNav-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    font-size: 1.5em;
}

.mainNav-right a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
}

.mainNav-right a:hover {
    cursor: pointer;
}

.mainNav-right a:hover:not(.active) {
    color: #FF9E00;
}

.mainNav .active {
    color: #157CFF;
}

.lp-navRight {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-size: 1.5em;
}

.lp-navRight a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
}

.lp-navRight a:hover:not(.active) {
    color: #FF9E00;
}

.lp-nav .active {
    color: #157CFF;
}