.searchCity {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchContainer {
    width: 25%;
}

.searchContainer input {
    width: 100%;
}

.searchCity select {
    width: 25%;
}

.searchContainer input, .searchCity select {
    background-color: #272A33;
    color: white;
    border: 3px solid rgb(255, 157, 0);
    font-size: 1.25em
}

.searchContainer input:focus, .searchCity select:focus {
    background-color: rgb(255, 157, 0);
    color: #272A33;
    border: 3px solid #272A33;
}

.selectedCountry {
    margin-bottom: 5em;
}