.tp-filter {
    width: 50%;
    display: flex;
    justify-content: center;
}

.tp-filter input[type="search"] {
    width: 70%;
    background-color: #e9e9e9;
    color: white;
    border: 3px solid #272A33;
    font-size: 1.25em;
    transition: 0.3s ease-in-out;
    border-radius: 0.5em;
    margin-right: 15px;
}

.tp-filter input[type="search"]:focus {
    background-color: #FFAE41;
    color: #272A33;
    border: 3px solid #272A33;
    outline: none;
}

.tp-filter button[type="submit"] {
    width: 7%;
    background-color: #FF9506;
    border: 2px solid #272A33;
    color: #272A33;
    transition: 0.3s ease-in-out;
    border-radius: 0.35em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
}

.tp-filter button[type="submit"]:hover {
    background-color: #e08002;
    cursor: pointer;
}