.tp-filter {
    margin-bottom: 2em;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
}

.tp-filter label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #6334ff;
    font-size: 1em;
}