.tripsPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3c41;
    margin-top: 6.5em;
}

.tp-createTrip {
    padding: .5em .25em;
    width: 25%;
    border-radius: 2em;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 1.25em;
    background-color: rgb(255, 157, 0);
    border: 2px solid #272A33;
    transition: 0.3s ease-in-out;
    margin-top: 32px;
}

.tp-createTrip:hover {
    background-color: #272A33;
    border-color: rgb(255, 157, 0);
    color: white;
    cursor: pointer;
}

.tp-feedManager {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.tp-refresh {
    justify-self: flex-end;
    color: rgb(255, 157, 0);
    font-size: 2.25em;
    align-self: center;
}

.tp-refresh:hover {
    color: #272A33;
    cursor: pointer;
}

.tripsPageFeed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}