.chatTextBoxContainer {
    position: absolute;
    bottom: 15px;
    left: 315px;
    box-sizing: border-box;
    overflow: auto;
    width: calc(100% - 300px - 50px)
  }

  .chatTextBox {
    width: 40%
  }

  .sendButton {
    color: #30A1FF;
    cursor: pointer
  }

  .sendButton:hover {
      color: #354296
  }