.messagesContainer {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

.messagesList {
    height: 100%;
    width: 30%;
}

.messagesContent {
    height: 100%;
    width: 70%;
}