.aboutPage{
  margin-top: 150px;
  display: flex;
}

.aboutUserProfilePic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10em;
 
}

.aboutEditBtn {
  right:100px;
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  border-width: 0.5rem;
  background-color: #FF9E00;
}

.aboutParagraph{
  font-size: 1.75em
}
.boldFont {
  font-weight: bold;
}