.up-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  align-self: center;
  font-size: 24px;
}

.up-nav a {
  color: #a4a4a4;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 800;
  word-wrap: none;
  width: fit-content;
}

.up-nav .active {
  color: black;
}

.up-nav a:hover:not(.active) {
  color: #0091ea;
  text-decoration: none;
}

.up-nav .active:hover {
  text-decoration: none;
}