.userPageContainer {
  margin-top: 95px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #f3f3f3;
  min-height: 100vh;
  font-size: 18px;
}

.userPageContainer > aside {
  height: 100vh;
  position: fixed;
  width: 20%;
  padding: 5px 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 175px;
  margin-bottom: 25px;
  font-weight: 700;
  height: 45%;
}

.up-user > img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 7em;
  margin-bottom: 20px;
}

.up-userInteraction {
  display: flex;
  flex-direction: column;
}

.up-userInteraction p {
  width: fit-content;
  margin: 0;
}

.up-username {
  color: #a4a4a4;
}

.up-socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.up-socialMedia img {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 0;
}

.up-coverButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  margin: 25px 0;
}

.up-coverButtons button {
  width: 100%;
}

.up-requestSent:hover span {
  display: none;
}

.up-requestSent:hover {
  cursor: pointer;
}

.up-requestSent:hover::before {
  content: 'Delete Request';
}

.up-userInfo {
  align-self: center;
  justify-self: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.up-userInfo p {
  margin: 20px 0;
}

.up-main {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  align-items: center;
}

.userPageContainer main {
  grid-column: 2 / 3;
}

.up-main .tripCard {
  width: 95%;
}