.up-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 30px 0;
}

.up-about span {
    font-weight: 800;
    color: #da5300;
}

.up-about p {
    margin-left: 22.5px;
    font-size: 18px;
}