.up-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    grid-column: 2 / 3;
    justify-items: center;
    min-height: 80vh;
    font-size: 20px;
}

.up-aboutList {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    margin: auto;
}

.up-about span {
    font-weight: 800;
    color: #0065a3;
}