.up-nav {
  border-top: 1px solid #272A33;
  border-bottom: 1px solid #272A33;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-size: 1.25em;
}

.up-nav a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 800;
  padding: 10px 15px;
  border-radius: 0.75em;
}

.up-nav .active {
  color: black;
  text-decoration: underline;
}

.up-nav a:hover:not(.active) {
  background-color: #d4D4d4;
  color: #0091ea;
  text-decoration: none;
}