.userPageContainer {
  margin-top: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.userPageContainer > header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.up-coverImage {
  grid-column: 1 / 4;
} 

.up-user {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up-user img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5em;
  margin-bottom: 25px;
}

.up-userInteraction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-user p {
  width: fit-content;
  align-self: center;
}

.up-userInfo {
  align-self: center;
  justify-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.up-userInfo span {
  font-weight: 800;
}

.up-bio span {
  font-weight: 800;
}

.up-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.up-main .tripCard {
  width: 80%;
}