.up-friends, .up-requests {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.friendCard, .friendRequestCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 10px 20px;
    border-radius: 1.5em;
    background-color: white;
    margin: 25px
}

.fc-info, .frc-info {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    font-size: 1.5em;
}

.fc-info {
    width: 70%;
}

.fc-info img, .frc-info img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 7em;
}

.fc-info a, .frc-info a {
    color: #e45f00;
    text-decoration: none;
    font-weight: bold;
}

.fc-info a:hover, .frc-info a:hover {
    cursor: pointer;
}

.fc-buttons, .frc-buttons {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.frc-buttons {
    width: 30%;
    justify-content: space-evenly;
}