.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    font-weight: bold;
    color: red;
}

.success {
    font-weight: bold;
    color: rgb(0, 228, 0);
}