.dt-info {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    margin: auto 0;
    grid-column: 2 / 3;
    width: 100%;
}

.dt-info header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 22px;
}

.dt-info h2 {
    margin-bottom: 1em;
}

.dt-hi {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dt-buttons {
    width: 100%;
}

.dt-buttons button {
    float: right;
    width: 30%;
}

.dti-dates {
    margin-bottom: 0;
}

.dt-info article {
    padding: 1em 0; 
}

.dt-info article p {
    margin-top: 0.35em;
    font-size: 20px;
}

.dt-info main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.dt-info main p {
    padding: 1em 0;
}