.createTripsContainer {
    margin-top: 85px;
    padding: 25px 0;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.createTripsContainer form {
    width: 80%;
    height: 60vh;
    align-self: center;
}